.home-page .search-bar .search-editable {
  background-color: transparent;
  background: transparent;
  margin-top: 115px;
  padding-top: 0;
  position: absolute;
  top: auto;
  width: 100%;
  z-index: 2
}

@media only screen and (max-width:1920px) {
  .home-page .search-bar .search-editable {
    margin-top: 130px
  }
}

@media only screen and (max-width:1600px) {
  .home-page .search-bar .search-editable {
    margin-top: 115px
  }
}

@media only screen and (max-width:1279px) {
  .home-page .search-bar .search-editable {
    margin-top: 90px
  }
}

@media only screen and (max-width:1024px) {
  .home-page .search-bar .search-editable {
    margin-top: 80px
  }
}

.home-page .image-cards-card-item:before {
  background-color: #005eb8;
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  right: 100%;
  transition: right .4s ease-in-out
}

.home-page .image-cards-card-item:after {
  border-bottom: none;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1)
}

.home-page .image-cards-card-item:hover:before {
  right: 0
}

.home-page .image-cards-card-item:hover:after {
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, .2)
}

.home-page .image-cards-wrapper:not(.one-card) .image-cards-card-wrapper .image-cards-card-item .image-cards-link {
  margin-bottom: 0
}

.home-page .a-tabs-icons .a-tabs-icons__bullet {
  font-size: 16px
}

.home-page .a-tabs-icons .a-tabs-icons__bullet:before {
  transform: translateY(18px)
}

@media (min-width:768px) {
  .home-page .a-tabs-icons .a-tabs-icons__bullet {
    font-size: 18px
  }

  .home-page .a-tabs-icons .a-tabs-icons__bullet:before {
    transform: translateY(21px)
  }
}

.home-page .sit-wrapper .sit-content-wrapper h2.sit-title {
  font-size: 32px;
  line-height: 1.25
}

@media (max-width:1023px) {
  .home-page .sit-wrapper .sit-content-wrapper h2.sit-title {
    font-size: 26px;
    line-height: normal
  }
}

@media (max-width:767px) {
  .home-page .sit-wrapper .sit-content-wrapper h2.sit-title {
    font-size: 22px;
    line-height: normal
  }
}

@media (min-width:1280px) {
  .home-page .sit-wrapper .sit-image-wrapper {
    height: 448px
  }
}

@media (min-width:1024px) and (max-width:1279px) {
  .home-page .sit-wrapper .sit-image-wrapper {
    height: 480px
  }
}

.home-page .h2 {
  margin: 0 0 20px
}

.home-page .h2:before {
  display: none
}

body .home-page.search-bar-enable .a-cover-services, body .home-page.search-bar-enable .hp-title {
  padding-top: 240px
}

@media only screen and (max-width:1600px) {
  body .home-page.search-bar-enable .a-cover-services, body .home-page.search-bar-enable .hp-title {
    padding-top: 210px
  }
}

@media only screen and (max-width:1279px) {
  body .home-page.search-bar-enable .a-cover-services, body .home-page.search-bar-enable .hp-title {
    padding-top: 180px
  }
}

@media only screen and (max-width:1024px) {
  body .home-page.search-bar-enable .a-cover-services, body .home-page.search-bar-enable .hp-title {
    padding-top: 160px
  }
}

.page-main .hp-title {
  color: #222;
  font-family: inherit !important;
  font-weight: 700;
  line-height: 1.25;
  margin: 48px 0 10px;
  padding-top: 50px;
  text-align: center
}

.page-main .hp-title:after {
  background-color: #ed8b00;
  content: "";
  display: block;
  height: 2px;
  margin: 20px 0 0;
  width: 70px
}

@media (max-width:1599px) {
  .page-main .hp-title {
    font-weight: 700
  }
}

@media (max-width:1279px) {
  .page-main .hp-title {
    font-size: 48px;
    margin-top: 16px
  }
}

@media (max-width:1023px) {
  .page-main .hp-title {
    font-size: 40px;
    margin-bottom: 0
  }

  .page-main .hp-title:after {
    background-color: #ed8b00;
    content: "";
    display: block;
    height: 2px;
    margin: 20px 0 0;
    width: 50px
  }
}

@media (max-width:767px) {
  .page-main .hp-title {
    font-size: 28px;
    line-height: 1.43;
    margin-top: 0
  }
}

.page-main .hp-title:after {
  margin-left: auto;
  margin-right: auto
}

.a-wysiwyg p {
  font-size: 18px;
  line-height: 2;
  text-align: center
}

@media only screen and (max-width:1023px) {
  .a-wysiwyg p {
    font-size: 16px
  }
}

@media only screen and (max-width:767px) {
  .a-wysiwyg p {
    font-size: 14px;
    line-height: 1.71
  }
}

.a-wysiwyg ul:not([class]) li {
  font-size: 18px;
  line-height: 2
}

@media only screen and (max-width:1023px) {
  .a-wysiwyg ul:not([class]) li {
    font-size: 16px
  }
}

@media only screen and (max-width:767px) {
  .a-wysiwyg ul:not([class]) li {
    font-size: 14px;
    line-height: 1.71
  }
}

.a-wysiwyg ul:not([class]) li:before {
  top: 15px
}

@media (max-width:1023px) {
  .a-wysiwyg ul:not([class]) li:before {
    top: 12px
  }
}

@media (max-width:767px) {
  .a-wysiwyg ul:not([class]) li:before {
    top: 8px
  }
}

.home-page h2 {
  color: #222;
  font-family: inherit !important;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 20px
}

.home-page h2:after {
  background-color: #57ADBF;
  content: "";
  display: block;
  height: 2px;
  margin: 10px 0 0;
  width: 40px
}

@media (max-width:1023px) {
  .home-page h2 {
    font-size: 26px
  }
}

@media (max-width:767px) {
  .home-page h2 {
    font-size: 24px
  }
}

.home-page h2:before {
  display: none
}