.sli {
  margin-bottom: 32px;
  margin-top: 32px
}

.sli-services {
  align-items: stretch;
  background: #fff;
  border: 1px solid #c2e1ff;
  display: flex;
  margin-top: 48px
}

@media (max-width:767px) {
  .sli-services {
    border: none;
    display: block;
    margin-top: 32px
  }
}

.sli-services-sidebar {
  background-color: #f5fbff;
  background-position-y: -558px;
  background-repeat: no-repeat;
  flex: 0 1 42%;
  margin: -17px 0 16px -17px;
  max-width: 42%;
  padding: 16px 0 16px 16px;
  transition: background-position-y .3s ease-in-out
}

@media (max-width:1599px) {
  .sli-services-sidebar {
    margin: -9px 0 8px -9px;
    padding: 8px 0 8px 8px
  }
}

@media (max-width:1279px) {
  .sli-services-sidebar {
    margin: -9px 8px 8px -9px;
    padding: 8px 0 8px 8px
  }
}

@media (max-width:767px) {
  .sli-services-sidebar {
    margin: 0;
    max-width: unset;
    padding: 8px
  }
}

.sli-services-sidebar summary {
  color: #004485;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden;
  padding: 16px 20px;
  text-overflow: ellipsis;
  transition-duration: .15s;
  transition-property: color, background;
  transition-timing-function: ease-in-out;
  white-space: nowrap
}

@media (max-width:1599px) {
  .sli-services-sidebar summary {
    font-size: 20px;
    padding: 12px 20px
  }
}

@media (max-width:1279px) {
  .sli-services-sidebar summary {
    padding: 12px 16px
  }
}

@media (max-width:767px) {
  .sli-services-sidebar summary {
    transition-duration: .3s
  }
}

.sli-services-sidebar summary:hover {
  color: #008eea
}

.sli-services-sidebar details.active summary {
  background: #008eea;
  color: #fff;
  margin-right: -16px;
  padding: 20px;
  transition-delay: .15s
}

@media (max-width:1599px) {
  .sli-services-sidebar details.active summary {
    margin-right: -8px;
    padding: 16px 20px
  }
}

@media (max-width:1279px) {
  .sli-services-sidebar details.active summary {
    margin-right: -8px;
    padding: 16px
  }
}

@media (max-width:767px) {
  .sli-services-sidebar details.active summary {
    margin-right: 0;
    overflow: unset;
    text-overflow: unset;
    transition-delay: 0s;
    white-space: unset
  }
}

.sli-details-content {
  background: #fff;
  border: 1px solid #c2e1ff;
  border-top: none;
  display: none;
  padding: 24px 20px
}

@media (min-width:768px) {
  .sli-details-content {
    display: none !important
  }
}

.sli-details-content .sli-details-description {
  font-size: 16px
}

.sli-details-content .sli-details-description ul li {
  padding-left: 34px
}

.sli-services-content {
  align-items: center;
  display: flex;
  flex: 1 1 58%;
  justify-content: center;
  padding: 32px 16px
}

@media (max-width:767px) {
  .sli-services-content {
    display: none
  }
}

.sli-services-content article {
  display: none;
  min-height: 66.66667%;
  min-width: 380px;
  width: 66.66667%
}

@media (max-width:1599px) {
  .sli-services-content article {
    min-width: 330px
  }
}

@media (max-width:1279px) {
  .sli-services-content article {
    min-width: 290px
  }
}

.sli-services-content article.active {
  display: block
}

.sli-services-content article h3 {
  color: #222;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.62;
  margin: 0 0 12px
}

@media (max-width:1279px) {
  .sli-services-content article h3 {
    font-size: 20px;
    margin: 0 0 8px
  }
}

.sli-article-content, .sli-details-content {
  color: #464749;
  font-size: 18px;
  line-height: 1.78
}

.sli-article-content p, .sli-details-content p {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 8px
}

.sli-article-content ul, .sli-details-content ul {
  margin: 8px 0
}

.sli-article-content ul li, .sli-details-content ul li {
  margin-bottom: 8px;
  padding-left: 40px
}

.sli-article-content ul li:before, .sli-details-content ul li:before {
  height: 6px;
  left: 13px;
  width: 6px
}

.sli-article-link, .sli-details-link {
  color: #005eb8;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.78;
  margin-top: 24px;
  text-transform: none;
  width: calc(100% - 30px)
}

@media (max-width:1279px) {
  .sli-article-link, .sli-details-link {
    margin-top: 16px
  }
}

@media (max-width:767px) {
  .sli-article-link, .sli-details-link {
    font-size: 16px
  }
}

.sli-article-link .span-link-arrow, .sli-details-link .span-link-arrow {
  display: inline-block;
  width: 0
}

.sli-article-link .span-link-arrow:after, .sli-details-link .span-link-arrow:after {
  color: #005eb8;
  content: "\e926";
  display: inline-block;
  font-family: s-icons;
  font-size: 13px;
  font-weight: 400;
  height: 12px;
  padding-left: 16px;
  position: relative;
  width: 12px
}

@media (max-width:767px) {
  .sli-article-link .span-link-arrow:after, .sli-details-link .span-link-arrow:after {
    font-size: 11px
  }
}