body {
    background: transparent !important;
}
body .page-main {
    padding-top: 0 !important;
}
.sb-header-transparent:not(.header-menu-open),
.sb-header-transparent:not(.header-menu-open) .header-global-line {
    background-color: #fff !important;
    box-shadow: none !important;
}
.sb-wrapper {
    height: 80vh;
    margin-bottom: 48px;
    position: relative;
    width: 100%;
}
@media (max-width: 767px) {
    .sb-wrapper {
        margin-bottom: 56px;
    }
}
.sb-wrapper h1.sb-heading {
    color: #fff;
    font-family: Sumana, serif !important;
    font-size: 48px;
    font-weight: 400 !important;
    line-height: 1.13;
    margin: 0 0 40px;
    text-align: center;
}
@media (max-width: 1279px) {
    .sb-wrapper h1.sb-heading {
        font-size: 40px;
        line-height: 1.35;
        margin-bottom: 32px;
    }
}
.sb-wrapper h1.sb-heading:after {
    display: none;
}
.sb-title {
    color: #fff;
    font-size: 32px;
    line-height: normal;
    text-align: center;
}
@media (max-width: 1279px) {
    .sb-title {
        font-size: 24px;
    }
}
.sb-title p {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
.sb-title-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 16px;
    position: relative;
    width: 100%;
    z-index: 1;
}
@media (max-width: 767px) {
    .sb-title-wrap {
        margin: auto;
        max-width: 320px;
        padding: 0 8px;
    }
}
.sb-title-row {
    align-items: center;
    display: flex;
}
@media (max-width: 767px) {
    .sb-title-row {
        align-items: flex-start;
        flex-direction: column;
    }
}
.sb-title-row.not-load {
    opacity: 0;
}
.sb-list-wrap {
    background: #000;
    height: 100%;
    width: 100%;
}
.sb-list-wrap,
.sb-slide {
    inset: 0;
    position: absolute;
}
.sb-slide {
    opacity: 0;
    transition: opacity 0.8s ease;
}
.sb-slide-image {
    height: 100%;
    width: 100%;
}
.sb-slide.sb-active {
    opacity: 1;
}
.sb-slide-word {
    bottom: 0;
    display: inline;
    font-size: 40px;
    font-weight: 300;
    left: 0;
    line-height: 40px;
    margin: 0;
    opacity: 0;
    position: absolute;
}
@media (max-width: 1023px) {
    .sb-slide-word {
        font-size: 36px;
    }
}
.sb-slide img,
.sb-slide picture {
    height: 100%;
    width: 100%;
}
.sb-slide img {
    object-fit: cover;
}
.sb-animated-inner {
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 1px solid #fff;
    border-radius: 5px;
    border-top: 0;
    display: flex;
    flex: none;
    height: 54px;
    margin: 0 17px 0 13px;
    min-width: 190px;
    padding: 7px 14px 4px;
    position: relative;
}
@media (max-width: 1023px) {
    .sb-animated-inner {
        height: 46px;
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .sb-animated-inner {
        margin: 24px 0 16px;
    }
}
.sb-animated-inner:after,
.sb-animated-inner:before {
    border-top: 1px solid #fff;
    content: "";
    height: 6px;
    position: absolute;
    top: 0;
    width: 10px;
}
.sb-animated-inner:before {
    border-left: 1px solid #fff;
    border-radius: 5px 0 0 0;
    left: -1px;
}
.sb-animated-inner:after {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #fff;
    right: -1px;
}
.sb-animated-label {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 300;
    left: 5px;
    line-height: 1.36;
    position: absolute;
    right: 5px;
    top: -9px;
}
.sb-animated-label:before {
    background: #fff;
    content: "";
    height: 1px;
    margin-right: 10px;
    width: 10px;
}
.sb-animated-label:after {
    background: #fff;
    content: "";
    height: 1px;
    margin-left: 10px;
    width: 100%;
}
.sb-animated-word {
    animation: cursor 1s step-end infinite;
    border-right: 1px solid #fff;
    color: #ffd546;
    display: inline-block;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 100%;
    overflow: hidden;
    padding-right: 6px;
}
@media (max-width: 1023px) {
    .sb-animated-word {
        font-size: 24px;
    }
}
.sb-animated-word.filled {
    background: rgba(255, 213, 70, 0.5);
}
.sb-animated-word.printed {
    animation: none;
}
.sb-header-transparent:not(.header-menu-open)
    .header-menu-item.has-sub-menu
    .header-menu-item-label:after,
.sb-header-transparent:not(.header-menu-open)
    .header-menu-item.has-sub-menu
    .header-menu-item-label:before {
    background-color: #ffd546 !important;
}
.sb-header-transparent:not(.header-menu-open) .header-search-close-btn,
.sb-header-transparent:not(.header-menu-open) .header-search-open-btn,
.sb-header-transparent:not(.header-menu-open) .icon-s-phone-bordered {
    color: #fff !important;
}
.sb-header-transparent:not(.header-menu-open) .header-burger-btn:after {
    background-color: #424242 !important;
}
.sb-header-transparent:not(.header-menu-open) .header-menu-item-label {
    color: #333 !important;
}
.sb-header-transparent:not(.header-menu-open) .header-menu-item-label:hover {
    background-color: #eef7ff !important;
}
.sb-header-transparent:not(.header-menu-open) .header-logo-img {
    filter: brightness(0) invert(1) !important;
}
.sb-header-transparent:not(.header-menu-open) .header-yellow-button-label {
    border-color: #222 !important;
}
.sb-header-transparent:not(.header-menu-open) .header-burger-btn {
    border-bottom: 2px solid #424242 !important;
    border-top: 2px solid #424242 !important;
}
.sb-header-transparent:not(.header-menu-open)
    .header-global-line-contacts-email,
.sb-header-transparent:not(.header-menu-open)
    .header-global-line-contacts-email:hover,
.sb-header-transparent:not(.header-menu-open)
    .header-global-line-contacts-phone,
.sb-header-transparent:not(.header-menu-open)
    .header-global-line-contacts-phone:hover,
.sb-header-transparent:not(.header-menu-open) .header-global-line-link,
.sb-header-transparent:not(.header-menu-open) .header-global-line-link:hover,
.sb-header-transparent:not(.header-menu-open) .header-phone-text,
.sb-header-transparent:not(.header-menu-open) .header-phone-text:hover {
    color: #fff !important;
}
@keyframes cursor {
    0% {
        border-color: #fff;
    }
    50% {
        border-color: transparent;
    }
    to {
        border-color: #fff;
    }
}
